/* 일일이 스타일을 직접 적는 것보다 클래스로 하기 */
.boxStyle{
    border: 1px solid red;
    color : blue;
}
.boxStyleTwo{
    border: 1px solid rgb(7, 8, 220);
    background-color: gray;
    width: 50%;
    text-align : left ;
    text-transform: uppercase;
    display: inline-block;
    
}
.boxStyleThree{
    text-indent: 2em;
    text-decoration: underline;
    display: inline-block;
}
.textBoxStyle{
    margin-top: 20px;
    margin-right: 10px;
    width : 200px;
    height: 220px;
    border : 1px dashed black;
    background-color: rgb(250, 249, 218);
    display: inline-block;
    text-align:center;
}