.outterBoxStyle {
    position: fixed;
    top: 0px;
    left: 0px;
}

.marioStyle {
    position: fixed;
    left: 50px;
    top: 410px;
    width: 100px;
    height: 80px;
}
 
.rocketStyle {
    position: fixed;
    top: 410px;
    left: 2000px;
    width: 100px;
    height: 100px;
}

.backStyle {
    position: fixed;
    top: 45px;
    left: 0px;
    width: 3500px;
    height: 510px;
}

.gameoverStyle {
    width: 1950px;
    height: 600px;
    margin-top : 150px;
    margin-left: 150px;
}

.boardStyle {
    margin-left: 30px;
    margin-top: 45px;
    border: 2px solid rgb(0, 255, 0);
    width: 200px;
    text-align: center;
}
.th, td {
    padding: 0px;
    border: 1px dashed #ddd;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: 700;
  }